<div class="bg-neutral-200 p-12">
  <div class="container mx-auto sm:px-4 mx-auto">
    <h2 class="h3">Get FreshCart app</h2>
  <p class="text-gray-600">We will send you a link, open it on your phone to downloud the app.</p>
  <div class="container mx-auto sm:px-4 mx-auto flex justify-center items-center mt-6 mb-5">
    <input
      class="block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded"
      type="text"
      placeholder="Email .."
      aria-label="default input example"
    />
    <button type="button" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap rounded py-1 px-3 leading-normal no-underline bg-main text-white ms-5  w-1/4">Share App Link</button>
 
  </div>
  <div class="line mt-4"></div>
  <div class="mt-3">
   <div class="flex justify-between items-center">
  <div class="flex items-center">
    <h3 class="h5 fw-semibold pe-2">Payment Partners</h3>
    <img src="assets/project-assets-20240811T155621Z-001/project-assets/images/amazon-pay.png" alt="amazon" class="image px-1">
    <img src="assets/project-assets-20240811T155621Z-001/project-assets/images/American-Express-Color.png" alt="amazon" class="image px-1">
    <img src="assets/project-assets-20240811T155621Z-001/project-assets/images/mastercard.webp" alt="amazon" class="image px-1">
    <img src="assets/project-assets-20240811T155621Z-001/project-assets/images/paypal.png" alt="amazon" class="image px-1">
  </div>
  <div class="flex justify-center items-center pe-5">
    <h3 class="h6 w-3/4  fw-semibold pe-2">Get deliveries with FreshCart</h3>
    <img src="assets/project-assets-20240811T155621Z-001/project-assets/images/get-apple-store.png" class="w-3/4" alt="app">
    <img src="assets/project-assets-20240811T155621Z-001/project-assets/images/get-google-play.png" class="w-3/4" alt="google">
  </div>
   </div>
  </div>
  <div class="line mt-4"></div> 
  </div>
</div>
