<div class="md:my-8 sm:my-0">
  <div class="row">
    <div class="md:w-9/12 sm:w-10/12 mx-auto">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img
            src="assets/project-assets-20240811T155621Z-001/project-assets/images/slider-image-1.jpeg"
            class="w-full"
            alt=""
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/project-assets-20240811T155621Z-001/project-assets/images/slider-2.jpeg"
            class="w-full"
            alt=""
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            src="assets/project-assets-20240811T155621Z-001/project-assets/images/slider-image-3.jpeg"
            class="w-full"
            alt=""
          />
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="md:w-3/12 static-Img sm:w-10/12 mx-auto">
      <img
        src="assets/project-assets-20240811T155621Z-001/project-assets/images/slider-2.jpeg"
        class="w-full"
        alt=""
      />
      <img
        src="assets/project-assets-20240811T155621Z-001/project-assets/images/slider-image-3.jpeg"
        class="w-full"
        alt=""
      />
    </div>
  </div>
</div>
