<div class="w-3/4 mx-auto my-14">
@if(errMsg)
{
  <div class="m-0 p-0 bg-red-400 rounded">
    <p class="p-1 m-0 text-white ">{{errMsg}}</p>

  </div>
}
@if(emailFormFlag==true)
{
  <h2 class="text-xl font-semibold my-3">Email Confirm:</h2>
  <form [formGroup]="emailForm" (ngSubmit)="submitEmailForm()">
    <label for="">Email:</label>
    <input
      formControlName="email"
      type="email"
      class="rounded w-full p-1 mb-5"
    />
    @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched) {
    <div class="p-0 m-0 bg-red-400 rounded text-white p-1">
      @if(emailForm.get('email')?.errors?.['required']) {
      <p>email is required</p>
      } @else if (emailForm.get('email')?.errors?.['email']) {
      <p>email is invalid</p>
      }
    </div>
    }

    <button
      [disabled]="emailForm.invalid"
      class="bg-main text-white block my-2 p-2 rounded ms-auto mt-8"
    >
    @if(isLoading)
    {
      <span><i class="fa fa-spin fa-spinner"></i></span>
    }
   @else {
    <span>   Send Email</span>
   }

    </button>
  </form>
}
 
@if(codeFormFlag==true) {


  <h2 class="text-xl font-semibold my-3">Code Confirm:</h2>
  <form [formGroup]="codeForm" (ngSubmit)="submitCodeForm()">
    <label for="">reset code:</label>
    <input
      formControlName="resetCode"
      type="text"
      class="rounded w-full p-1 mb-5"
    />
    @if(codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched) {
    <div class="p-0 m-0 bg-red-400 rounded text-white p-1">
      @if(codeForm.get('resetCode')?.errors?.['required']) {
      <p>email is required</p>
      } @else if (codeForm.get('resetCode')?.errors?.['pattern']) {
      <p>email is invalid</p>
      }
    </div>
    }

    <button
      [disabled]="codeForm.invalid"
      class="bg-main text-white block my-2 p-2 rounded ms-auto mt-8"
    >
    @if(isLoading)
    {
      <span><i class="fa fa-spin fa-spinner"></i></span>
    }
   @else {
    <span>   Send code</span>
   }

    </button>
  </form>




}
  <!--------------------------- codeform ------------------------->







  <!-- resetpassword -->
  @if(newPasswordFormFlag==true) {


    <h2 class="text-xl font-semibold my-3">NewPassword Form:</h2>
    <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPassworForm()">
      <label for="">email:</label>
      <input
        formControlName="email"
        type="email"
        class="rounded w-full p-1 mb-5"
      />
      @if(newPasswordForm.get('email')?.errors && newPasswordForm.get('email')?.touched) {
      <div class="p-0 m-0 bg-red-400 rounded text-white p-1">
        @if(newPasswordForm.get('email')?.errors?.['required']) {
        <p>email is required</p>
        } @else if (newPasswordForm.get('email')?.errors?.['email']) {
        <p>email is invalid</p>
        }
      </div>
      }
      <label for="">newPassword:</label>
      <input
        formControlName="newPassword"
        type="text"
        class="rounded w-full p-1 mb-5"
      />
      @if(newPasswordForm.get('newPassword')?.errors && newPasswordForm.get('newPassword')?.touched) {
      <div class="p-0 m-0 bg-red-400 rounded text-white p-1">
        @if(newPasswordForm.get('newPassword')?.errors?.['required']) {
        <p>newPassword is required</p>
        } @else if (newPasswordForm.get('newPassword')?.errors?.['pattern']) {
        <p>newPassword is invalid</p>
        }
      </div>
      }
      <button
        [disabled]="newPasswordForm.invalid"
        class="bg-main text-white block my-2 p-2 rounded ms-auto mt-8"
      >
      @if(isLoading)
      {
        <span><i class="fa fa-spin fa-spinner"></i></span>
      }
     @else {
      <span>   Submit</span>
     }
      </button>
    </form>  
  }
</div>
